/*logo*/
.logo{
    width: 80px;
}

/*Boton Barra de Navegacion*/
.btn_barra{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex: 1;
    font-size: medium;
    cursor: pointer;
    color: #FFFFFF;

    font-family: 'Poppins', sans-serif;

}

.btn_barra.btn_marcado{
    background-color: #E5383B;
    color: #fff;
    border-radius: 20px;
}
.nav-links{
    display: flex;
    gap: 20px;
    flex:1;
}

/*Barra de Navegacion*/
.barraNavegacion{
    display: flex;
    background-color: #0B090A;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid #A4161A;
    margin: 0;
    position: sticky;
    top: 0;
}
.hamburguer {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {        
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: -120%;
        background-color: #0B090A;
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
        z-index: 10000;
        transition: right 0.3s ease-in;
    }
    .btn_barra{
        width: 100%;
        border-bottom: 1px solid #fff;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 0;
    }

    .nav-links.show {
        right: 0;
    }

    .hamburguer {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: #FFFFFF;
        margin-right: 20px;
    }
}