.contenedorIntegrante {
    width: 90%;
    min-height:260px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 4px 0px 3px grey;
    border-radius: 40px;
    padding: 1rem 2rem;
}

.imagenIntegrante {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
        height: 200px;
        width: 200px;
        /* los siguientes valores son independientes del tamaño del círculo */
        border-radius: 50%;
       
}

.contenedorTexto {
    text-align: center;
    padding: 40px;
    font-size: 0.5rem;
    font-family: 'Poppins', sans-serif;
        font-weight: 400;
    line-height: 1.5rem;
}

.nombre-integrante{
    font-size: 1.3rem;
    margin-top: 8px;
    
}
.carrera-integrante {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.texto-integrante {
    font-size: 0.9rem;
    text-align: justify;
}

.Miembros {
    margin-top: 0;
}

@media (max-width: 768px) {
    .contenedorIntegrante {
        flex-direction: column;
        padding: 1rem;
        min-height: auto;
    }

    .imagenIntegrante {
        height: 150px;
        width: 150px;
    }

    .contenedorTexto {
        padding: 20px;
        font-size: 0.4rem;
    }

    .nombre-integrante,
    .carrera-integrante {
        font-size: 1rem;
        margin-top: 2px;
    }

    .texto-integrante {
        font-size: 0.8rem;
    }
}